<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>472212814302-jr7qqkf5d7t57ne4c54u45hh90fv6b9m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.472212814302-jr7qqkf5d7t57ne4c54u45hh90fv6b9m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>472212814302-ivg6ufhr8rt8npl3khi1afel3b00f8tg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBB1QBSTIRvsuPHHyPT__fDwHB9YHIZkio</string>
	<key>GCM_SENDER_ID</key>
	<string>472212814302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shashankstudios.tracklet</string>
	<key>PROJECT_ID</key>
	<string>tracklet-z8jijr</string>
	<key>STORAGE_BUCKET</key>
	<string>tracklet-z8jijr.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472212814302:ios:4dedde6f46761189bfc54f</string>
</dict>
</plist>